
body {
    padding: 0;
    margin: 0;
    background-color: #d4d2ae;

}
#container {
    text-align: center;
    margin: 50px;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
}
h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;

    
}
#container img {
    width: 120px;
    height: 70px;
    display: inline-block;
    margin-top: 10px;  
}
.catan {
    background-color: #ffffff;
}
.files{
    text-align: center;
    
    
}
.files img {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-top: 5px;
    outline: 5px solid black;
    padding: 5px;
    margin: 5px;
    
}
.dojo {
    border: 10px solid #83b5ee;
}
.heise{
    background:  #f36870;
    border: 10px solid #f36870;
}
.link {
    border: 10px solid #83b5ee;
}
.iron {
    background:  #f36870;
    border: 10px solid #f36870;
}
.defunk {
    border: 10px solid #83b5ee;
}
